{% extends 'little_italy/base.html' %}
{% load static %}
{% block title %}Carrito{% endblock %}

{% block content %}
<h2>Tu Carrito</h2>
{% if user.order_set.exists %}
<table>
    <thead>
        <tr>
            <th>Pizza</th>
            <th>Tamaño</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Precio Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for order in user.order_set.all %}
            {% for item in order.orderitem_set.all %}
            <tr>
                <td>{{ item.pizza.name }}</td>
                <td>{{ item.size }}</td>
                <td>{{ item.quantity }}</td>
                <td>
                    {% if item.size == 'small' %}
                        {{ item.pizza.price_small }}
                    {% elif item.size == 'medium' %}
                        {{ item.pizza.price_medium }}
                    {% elif item.size == 'large' %}
                        {{ item.pizza.price_large }}
                    {% endif %}
                </td>
                <td>{{ item.total_price }}</td>
                <td>
                    <!-- Botón para eliminar una unidad -->
                    <form method="post" action="{% url 'remove_from_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <button type="submit">Eliminar 1</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
    
</table>

<!-- Botón de Confirmar Compra -->
<div>
    <form method="get" action="{% url 'checkout' %}">
        <button type="submit">Confirmar Compra</button>
    </form>
</div>
{% else %}
    <p>Tu carrito está vacío.</p>
{% endif %}
{% endblock %}
