{% extends 'little_italy/base.html' %}
{% load static %}

{% block title %}Menú{% endblock %}

{% block content %}
<h2>Menú de Pizzas</h2>
<div class="pizza-menu">
    {% for pizza in pizzas %}
        <div class="pizza-item">
            <img src="{% static 'images/pizzas/'|add:pizza.name|add:'.jpg' %}" alt="Imagen de {{ pizza.name }}" class="pizza-image">
            <h3>{{ pizza.name }}</h3>
            <p>{{ pizza.description }}</p>
            <div class="pizza-sizes">
                <a href="{% url 'pizza_details' pizza.id 'small' %}" class="size-button">S</a>
                <a href="{% url 'pizza_details' pizza.id 'medium' %}" class="size-button">M</a>
                <a href="{% url 'pizza_details' pizza.id 'large' %}" class="size-button">L</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
