{% extends 'little_italy/base.html' %}

{% block title %}Estado del Pedido{% endblock %}

{% block content %}
<h2>Estado del Pedido</h2>
{% if orders %}
    <ul>
        {% for order in orders %}
            <li>
                <p><strong>ID del Pedido:</strong> {{ order.id }}</p>
                <p><strong>Estado:</strong> {{ order.status }}</p>
                <p><strong>Fecha:</strong> {{ order.created_at }}</p>
                <p><strong>Total:</strong> ${{ order.total }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tienes pedidos en este momento.</p>
{% endif %}
{% endblock %}
